/* Global Styles */
@import './scss/index.scss';

:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f2f0f0;
  color: #333;
  overflow: hidden;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: disc;
}

img {
 
}

header{
  position: fixed;
  top: 10px;
  left: 20px;
  width: 100%;
}

footer{
  position: fixed;
  bottom: 10px;
  left: 40%;
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  height: 20px;
}

/* Utilities */
.container {
  margin: 80px 0;
  overflow-y: hidden;
  display: flex;
}

.no-data{
  margin: 25% auto 0 auto;
  font-size: 30px;
}
